html {
  font-size: 50px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
a:hover {
  color: #cd0200;
  text-decoration: underline;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
.fade-enter,
.fade-leave-active {
  transform: translateX(-100%);
}
.fade-enter,
.fade-leave-active {
  transition: all 0.1s ease;
}
.fade1-enter,
.fade1-leave-active {
  transform: translateX(100%);
}
.fade1-enter,
.fade1-leave-active {
  transition: all 0.1s ease;
}
